body {
    width: 100%;
    display: flex;
    background: #292D3F;
    font-family: IRANSansX;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}
*::selection {
    background-color: #90d3ff;
    color: black;
}
